<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles/style-register.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <form class="form" action="/auth/signin" method="POST">
            <h1>Welcome!</h1>
            <h2>Sign into your profile</h2>
            <ion-icon name="mail"></ion-icon>
            <h4 class="email">E-mail</h4>
            <input type="text" placeholder="E-mail" name="login" required>

            <ion-icon name="lock"></ion-icon>
            <h4 class="password-1">Pasword</h4>
            <input type="password" placeholder="Pasword" name="password" required>

            <div class="buttons">
                <a href="/">
                    <input id="cancel" type="button" value="Cansel">
                </a>
                <a href="">
                    <input id="confirm" type="submit" value="Register">
                </a>
            </div>
        </form>
    </div>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>