* {
    padding: 0;
    margin: 0;
    font-family: cursive;
    color: white;
}

body {
    background-color: lightgrey;
    background-size: cover;
}

header {
    display: flex;
    justify-content: center;
}

.container {
    padding-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form>h4 {
    max-width: fit-content;
}

.form {
    padding: 4rem;
    border-radius: 1.25rem;
    font-size: small;
    background-color: grey;
    opacity: 0.8;
}

.form>ion-icon {
    padding-top: 1rem;
}

.form>input {
    height: 2rem;
    border-radius: 0.5rem;
    width: 100%;
}

.buttons {
    display: flex;
    margin-top: 0.5rem;
    border-top: 2px solid black;
    justify-content: space-between;
}

.buttons a {
    width: 100%;
}

.buttons a>input {
    width: 100%;
    margin-top: 0.5rem;
    height: 2rem;
    border-radius: 0.5rem;
}

input {
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
}